---
layout: default
body_class: 'home-template'
---
<div id="cover" class="container-fluid"
     style="background-image:url(/assets/images/default_blog_cover.jpg);">
    <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
    </div>
</div>

<div id="navbar" class="container">
    <h5>Featured Posts</h5>
</div>

<div id="content" class="container">
    <div id="home-content" role="main">
        <ul id="post-list">
            {% for post in paginator.posts %}
                {% include item.html %}
            {% endfor %}
        </ul>
        {% include pagination.html %}
    </div>
</div>
