<div id="footer" class="container-fluid">
    <ul id="links">
        {% if site.github %}
        <li>
            <a id="link-github" href="http://github.com/{{ site.github.username }}" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}
        {% if site.facebook %}
        <li>
            <a id="link-facebook" href="http://facebook.com/{{ site.facebook.username }}" target="_blank">
                <span class="sr-only">facebook</span>
            </a>
        </li>
        {% endif %}
        {% if site.twitter %}
        <li>
            <a id="link-twitter" href="http://twitter.com/{{ site.twitter.username }}" target="_blank">
                <span class="sr-only">twitter</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a id="link-rss" href="/rss" target="_blank">
                <span class="sr-only">rss</span>
            </a>
        </li>
    </ul>
    <ul id="footer-menu">
        <li><a href="//www.kakaocorp.com">Kakao</a></li>
        <li><a href="//www.kakaocorp.com/recruit/currentOpportunities">Jobs</a></li>
        <li><a href="//privacy.kakaocorp.com">Privacy</a></li>
    </ul>
    <p id="copyright">
        <a href="//www.kakaocorp.com">Copyright &copy; Kakao Corp.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
