<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncateword: 75 }}{% else %}{{ site.description }}{% endif %}">
<link rel="shortcut icon" href="/assets/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/assets/lib/normalize.css"/>
<!--<link rel="stylesheet" type="text/css" href="/assets/lib/skeleton.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="/assets/lib/prism.css"/>-->
<link rel="stylesheet" type="text/css" href="/assets/css/monokai.css"/>
<link rel="stylesheet" type="text/css" href="/assets/lib/magnific-popup.min.css"/>
<!--<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="//meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/Kakao.css"/>-->
<!--<link rel="stylesheet" type="text/css" crossorigin="anonymous" href="//t1.daumcdn.net/osa/blog/assets/fonts/Kakao.css"/>-->
<link rel="stylesheet" type="text/css" href="/assets/fonts/Kakao.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/screen.css"/>
